*{
	margin: 0;
	padding: 0;
}

.footer{
	padding: 5% 0;
	background-color: #eee;
}
		
.top-board{
	padding: 5% 0;
	margin: 0;
}
		
.navbar{
	padding: 1% 0;
	margin: 0;
}
		
.content{
	margin: 5% 0;
}

.owner-profile{
	width: 100%;
}

.owner-profile img{
	border-radius: 100%;
}